<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="InsufficientPermissions">
    <f:render partial="Navigation"/>
    <f:flashMessages/>
</f:section>
<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSettings"/>
    </h1>
    <f:flashMessages/>
    <div class="accordion" id="accordionPanelsStayOpen">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Choose image generation API
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <f:form action="settings" name="openAi" object="{openAi}">
                        <div class="form-check">
                            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 1" value="1"
                                          class="form-check-input"/>
                            <label class="form-check-label">OpenAI (https://openai.com/)</label>
                        </div>
                        <div class="form-check">
                            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 2" value="2"
                                          class="form-check-input"/>
                            <label class="form-check-label">Stable Diffusion (https://stablediffusionapi.com/)</label>
                        </div>
                        <div class="form-check">
                            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 3" value="3"
                                          class="form-check-input"/>
                            <label class="form-check-label">StabilityAI (https://stability.ai/)</label>
                        </div>
                        <br/>
                        <f:form.submit class="btn btn-primary"
                                       value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                    </f:form>
                    <br/>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: validateApiKeyOpenAi}"/>
                    OpenAI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <f:form action="settings" name="openAi" object="{openAi}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        OpenAI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {openAiApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                OpenAI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" name="openAiApiKeyValue"/>
                            <br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: validateApiKeyStableDiffusionAi}"/>
                    Stable Diffusion settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <f:form action="settings" name="stableDiffusionValues" object="{stableDiffusionValues}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        Stable Diffusion API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {stableDiffusionApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                Stable Diffusion API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" name="stableDiffusionValues[api]"/>
                            <br/>
                            <f:translate
                                key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyUsedModel"/>
                            (https://stablediffusionapi.com/models):
                            <f:if condition="{stableDiffusionModel}">
                                <f:then>
                                    {stableDiffusionModel} <i class="bi bi-trash"></i>
                                </f:then>
                                <f:else>
                                    <f:translate
                                        key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelNoneSelected"/>
                                </f:else>
                            </f:if>
                            <br/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSetCustomModelToUse"/>
                                :</label></br>
                            <f:form.select name="stableDiffusionValues[model]" options="{stableDiffusionModels}"
                                           optionValueField="model_id"
                                           optionLabelField="model_id" class="form-select"/>
                            <br/><br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: validateApiKeyStabilityAi}"/>
                    StabilityAI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <f:form action="settings" name="stabiltiyAi" object="{stabiltiyAi}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        StabilityAI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {stabilityAiApiValue}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                StabilityAI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" name="stabilityAiApiValue"/>
                            <br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: validateApiKeyAltTextAi}"/>
                    AltText settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <f:form action="settings" name="altTextAi" object="{altTextAi}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        AltText AI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        (alttext.ai): {altTextAiApiValue}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                AltText AI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" name="altTextAiApiValue"/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                AltText AI
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelLanguageValue"/>
                                :</label>
                            <f:form.select name="altTextAiLanguage" options="{altTextAiLanguage}"
                                           value="{selectedAltTextAiLanguage}" class="form-select"/>
                            <br/><br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: validateApiKeySummAi}"/>
                    SummAI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                    <f:form action="settings" name="summAi" object="{summAi}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        SummAI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {summAiApiValue}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                SummAI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" name="summAiApiValue"/>
                            <f:translate
                                key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                            SummAI API email: {summAiUserEmail}<br/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSetEmail"/>
                            </label>
                            <f:form.textfield class="form-control" name="summAiUserEmail"/>
                            <br/>
                            <f:form.submit class="btn btn-primary" value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>

